* {
  z-index: 5
}
ol * {
  font-family: monospace;
}
h1 h2 h3 {
  font-family: helvetica;
}
#page-wrap {

  padding-top: 50px;

  margin: 0 auto;



  }
 body {
   background-image: url(background.jpeg);
   overflow: hidden;
 }

.phrase {
  font-size: 40px;


}

.guessCounter{
  font-family: helvetica;
  font-size: 50px;
  color: blue;
}

.btn-group{
  font-size: 40px;
}

#namer:first-letter {
   color:#09C;
   font-size:1.1em;
   font-weight:bold;
}

.outcome {
  font-family: helvetica;
  font-size: 60px;
  color: blue;
}

.letter {
  z-index: 3;
  height: 100px;
  width: 100px;
  background-image: url(scrabble.png);
  position: absolute;
  filter: blur(.3em);
  top: -100px;
  animation: letter-fall 7s ease-in-out 0s infinite
}

.letterA {
  left: 200px;
  background-position: 0px 0;
  animation-delay: 2s;
}

.letterB {
  left: 500px;
  background-position: -100px 0;
  animation-delay: 4s;
}

.letterC {
  left: 800px;
  background-position: -200px 0;
  animation-delay: 6s;
}
.letterD {
  left: 1100px;
  background-position: -350px 0px;
  animation-delay: 8s;
}
@keyframes letter-fall{
  to {top: 100%;}
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 5px;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
